html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

header {
background-color: #86603b;
background-image: url("../images/logo.svg");
background-size: 100px auto;
padding-top: 5em;
background-repeat: no-repeat;
background-position: center top;
}

nav {
	background-color: #532010;
}

nav ul {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
}

nav li{
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	width: 32%;
}

.nav {
	color: #fff;
	font-size: 18pt;
	text-decoration: none;
}

.nav:hover {
	color: #86603b;
}

h1 {
	margin: 0;
}

.intro {
  margin: 0;
  padding: 3em 15px 2em;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.6));
  color: #fff;
  font-size: 30pt;
  font-weight: bold;
}

.banner {
	padding:  calc(2em + 20vw) 0 0;
	background: url("../images/egg-rolls.jpg") center center / cover no-repeat;
}

.text {
	font-size: 16pt;
	background-color: #86603b;
	margin: 0;
	padding: 30px 10px 30px;
}


h2 {
	margin: 0;
	font-size: 30pt;
	color: #fff;
	background-color: #532010;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3 {
	margin: 20px 0 0;
	font-size: 24pt;
	padding-left: 10px;
	clear: both;
}

